@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 1;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px; /* Set width of scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set background color of scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Set color of scrollbar thumb */
  border-radius: 2px; /* Round the corners of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #757575; /* Set color of thumb on hover */
}

img{
  user-select: none;
  -webkit-user-drag: none;
}

nav{
  position:fixed; /*making topnav bar fixed*/
  top:0;
  width:100%;
  z-index: 1000; /* Make sure it stays above other elements */
}

/*adding space between topnavbar and creator list section*/
.py-12{
  margin-top:130px;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

/* globals.css */


.bg-gray-900 {
  background-color: #1a202c; /* Dark background color */
}

.text-white {
  color: white; /* White text for dark mode */
}
