@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 1;
}
.scroll-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.scroll-button {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  cursor: pointer;
  font-size: 2.5rem;
  box-shadow: 3px 3px rgba(255, 255, 255,0.2);
}

.scroll-button:hover {
  background-color: #686868;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px; /* Set width of scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set background color of scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Set color of scrollbar thumb */
  border-radius: 2px; /* Round the corners of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #757575; /* Set color of thumb on hover */
}

img{
  user-select: none;
  -webkit-user-drag: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
